html {
    background-image: url("../img/octavian.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100%;
}

body {
    color: #efd8f2;
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    font-style: bold;
    color: #efd8f2;
    text-shadow: 10px 10px 12px black;
}

table {
    padding-top: 20px;
}

table td {
    border-radius: 7px;
    border: solid 4px;
    width: 70px;
    height: 70px;
    text-align: center;
}

td {
    font-size: 40px;
    font-style: bold;
    font-family: 'Shadows Into Light', cursive;
    color: #0a1f1c;
    background-color: #efd8f2;
    text-shadow: 8px 8px 10px black;
}

td:hover, start:hover {
    cursor: pointer;
    background: #f9ecf2;
}

.clearfix {
    clear: both;
}

.start {
    font-size: 15px;
    background-color: #efd8f2;
    color: black;
    border: 3px solid black;
    margin-top: 15px;
}

footer {
    color: #8bd8cd;
    font-size: 25px;
    text-shadow: 6px 6px 8px black;
}


/*commenting to add info */
