.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Quicksand', sans-sans-serif;
  font-weight: 300;
}

.topnav a:hover {
  background-color: green;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: green;
}

.title{
  font-size: 35px;
  font-family: 'Quicksand', sans-sans-serif;
  font-weight: 200;
  text-align: center;
}
#home {
  margin: 50px auto;
  display:block;
  width:300px;
  height:80px;
  border:3px solid black;
  background-color: rgba(255,255,255,0);
  color:black;
  font-family:sans-serif;
  font-weight: bold;
  font-size:16pt;
  border-radius: 5px;
  align-items:center;
  transition: background-color 1000ms, color 1000ms;

  transition: background-color 1000ms, color 1000ms;

}

#home:hover{
  background-color:rgba(255,255,255,1);
  color:#22;
  cursor:pointer;

  transition: background-color 1000ms, color 1000ms;
}

#tic {
  margin: 50px auto;
  display:block;
  width:300px;
  height:80px;
  border:3px solid black;
  background-color: rgba(255,255,255,0);
  color:black;
  font-family: 'Quicksand', sans-sans-serif;
  font-weight: bold;
  font-size:16pt;
  border-radius: 5px;
  align-items:center;
  transition: background-color 1000ms, color 1000ms;

  transition: background-color 1000ms, color 1000ms;

}

#tic:hover{
  background-color:rgba(255,255,255,1);
  color:#22;
  cursor:pointer;

  transition: background-color 1000ms, color 1000ms;
}

#play2048 {
  margin: 50px auto;
  display:block;
  width:300px;
  height:80px;
  border:3px solid black;
  background-color: rgba(255,255,255,0);
  color:black;
  font-family: 'Quicksand', sans-sans-serif;
  font-weight: bold;
  font-size:16pt;
  border-radius: 5px;
  align-items:center;
  transition: background-color 1000ms, color 1000ms;

  transition: background-color 1000ms, color 1000ms;

}

#play2048:hover{
  background-color:rgba(255,255,255,1);
  color:#22;
  cursor:pointer;

  transition: background-color 1000ms, color 1000ms;
}

#pacman {
  margin: 50px auto;
  display:block;
  width:300px;
  height:80px;
  border:3px solid black;
  background-color: rgba(255,255,255,0);
  color:black;
  font-family: 'Quicksand', sans-sans-serif;
  font-weight: bold;
  font-size:16pt;
  border-radius: 5px;
  align-items:center;
  transition: background-color 1000ms, color 1000ms;

  transition: background-color 1000ms, color 1000ms;

}

#pacman:hover{
  background-color:rgba(255,255,255,1);
  color:#22;
  cursor:pointer;

  transition: background-color 1000ms, color 1000ms;
}

#flappy {
  margin: 50px auto;
  display:block;
  width:300px;
  height:80px;
  border:3px solid black;
  background-color: rgba(255,255,255,0);
  color:black;
  font-family: 'Quicksand', sans-sans-serif;
  font-weight: bold;
  font-size:16pt;
  border-radius: 5px;
  align-items:center;
  transition: background-color 1000ms, color 1000ms;

  transition: background-color 1000ms, color 1000ms;

}

#flappy:hover{
  background-color:rgba(255,255,255,1);
  color:#22;
  cursor:pointer;

  transition: background-color 1000ms, color 1000ms;
}
